__pycache__/Features.cpython-34.pyc
*.pyc
inkml
lgdir
test
testLg
train
trainLg
*.mdl
RF20_FullDepthLGTest
RF20_FullDepthBoxFeat0
RF20_FullDepthBoxFeat
RF20_FullDepthBoxFeat1
RF20_FullDepthBoxFeatEquals
RF20_FullDepthBoxFeatTrainEquals
inkmlTest
lgTest

